body {
    background: #f0f0f0;
}

.page-home .content {
    margin: 20px 40px 40px 20px;
}

.page-home .content header {

    background: #7159c1;
    font-style: oblique;
    color: #FFF;

    margin: 0 100px;
    padding: 0 50px;
    border-radius: 25px;
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-home .content header h1 {
    font-size: 44px;
    margin-left: 50px;
}

.page-home .content header img {

    height: 40px;
    width: 40px;
}

.page-home .content .main-container {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.page-home .content .main-container .menu-left, .page-home .content .main-container main {
    margin: 20px 60px 0 0;
    padding-left: 60PX;
}

.page-home .content .main-container .menu-left ul {
    margin: 10px;
    border: black solid;
    padding: 6px;
    background: #7159c1;
    border-radius: 8px;
}

.page-home .main-container .menu-left ul a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.page-home .main-container .menu-left ul a:hover {
    color: rgb(82, 57, 57);
}

.page-home .main-container .menu-left ul a li {
    list-style: none;
    background: rgb(167, 158, 158);

    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: black solid;

    padding: 5px 10px;

    padding-left: 32px;
}

.page-home .content .main-container main h1 {
    font-size: 28px;
    font-family: Roboto sans-serif;
}

.page-home .content .main-container main p {
    font-size: 20px;
    font-family: Roboto sans-serif;
}

.page-home .content .main-container main img {
    height: 200px;
    width: 200px;
}

.page-home .content footer {
    margin: 40px;
    margin-left: 200px;
    margin-right: 200px;
    
    padding: 0px;
    padding-bottom: 120px;

    background: #7159c1;
    font-style: oblique;
    color: #FFF;

    padding: 0 6px;
    border-radius: 25px;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.page-home .content footer h1 {
    font-size: 16px;
    padding: 0px;
}

.page-home .content footer ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.page-home .content footer ul .contato {
    font-size: 12px;
    font-style: normal;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0px;
}

.page-home .content footer ul .contato .referencia a {
    text-decoration: none;
    color: #FFF;
}





